CREATE DATABASE QLTV
GO
CREATE TABLE NguoiDung (
    TenDangNhap varchar(50),
    MatKhau varchar(50),
    HoVaTen nvarchar(50)
);

CREATE TABLE Sach (
    MaSach int IDENTITY(1,1) NOT NULL PRIMARY KEY,
    TenSach nvarchar(500),
    TacGia nvarchar(200),
    TheLoai nvarchar(200),
    NhaXuatBan nvarchar(200),
    NamXuatBan int,
    NgayNhap date,
    Anh nvarchar(500)
);

CREATE TABLE TheLoai (
    MaTheLoai int IDENTITY(1,1) NOT NULL PRIMARY KEY,
    TenTheLoai nvarchar(100)
);
INSERT INTO NguoiDung (TenDangNhap, MatKhau, HoVaTen)
VALUES ('user', '123', N'Phạm Sơn');

INSERT INTO NguoiDung (TenDangNhap, MatKhau, HoVaTen)
VALUES ('user2', '123', N'Sơn');


INSERT INTO TheLoai (MaTheLoai, TenTheLoai)
VALUES
(1, N'Tiểu thuyết'),
(2, N'Khoa học'),
(3, N'Truyện tranh'),
(4, N'Lịch sử'),
(5, N'Kinh tế'),



